*{
    padding:0; 
    margin:0;
    box-sizing: border-box;;
}
body{
     font-family:sans-serif;
     background-color:#f7f9fc;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}
.container{
    text-align: center;
    width: 100%;
    padding: 1.2rem;

}
h1{
    color: rgb(39, 37, 37);
    margin-bottom: 20px;
    font-size: 2rem ;
}
.board{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    gap:20px
}
.list{
    background-color: #e5ecf6e9;
    padding: 1rem;
    width: 30%;
    min-height: 400px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}
.list h2{
    color: #555;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.card{
    background-color: white;
    color: #333;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor:grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s,box-shadow 0.2;
}
.card:active{
    cursor:grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}
.list.over{
    background-color:  #d0e2fbe9;
}
@media(max-width:760px) {
    .board{
        flex-direction: column;
        align-items: center;
    }
    .list{
        width: 80%;
        margin-bottom: 20px;
    }
}
